@{
    ViewBag.Title = "O Stranici";
}
<h2>@ViewBag.Title.</h2>

<p>Stranica za organiziranje društvenih igara je napravljena kako bi omogućila i/ili olakšala ljudima da organiziraju noć društvenih igara s drugim ljudima u okolini.</p>
<p>Korisnici koji se registriraju mogu organizirati noć društvene igre preko gumba koji se nalazi na "Popis Događaja", dok ne registrirani korisnicu mogu samo pregledati nadolazeće događaje.</p>
